header{
  font-family: Raleway, sans-serif;
  overflow: hidden;
  text-align: center;
  margin: auto;
  color: white;
  width: 100%;
}

  header::after{
  content: '';
  display:table;
  clear:both;
}


/* Mobile Nav Attempt */

li {

  list-style: none;
}

a {
  font-size: 12px;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #00b259;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 20px;
  font-family: Avenir Next, sans-serif;
  font-weight: 400;
  color: #00b259; /* Correct sigora green color */
}

.active{
  color: #ffc82c; /* Correct sigora yellow color */
}

.nav-link:hover{
  color: #ffc82c; /* Correct sigora yellow color */
  text-shadow: 2px 2px 2px #ffc82c;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: rgb(0, 0, 0);
      width: -120%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
      color: white;
      padding: 20px;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  /* // Inside the Media Query. */

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

}
