<header class="header">
  <nav class="navbar">
      <a href="#" class="nav-logo"><img src="../../assets/images/sigoraLogo.png" alt="logo" class="logo"></a>
      <ul class="nav-menu">
          <li class="nav-item"><a href="#" class="nav-link active" (click)="onSelect('login')" [ngClass]="{'active': step === 'login'}">Login</a></li>
          <li class="nav-item"><a href="#" class="nav-link" (click)="onSelect('input')" [ngClass]="{'active': step === 'input'}">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link" (click)="onSelect('view-data')" [ngClass]="{'active': step === 'view-data'}">View Information</a></li>
          <li class="nav-item"><a href="#" class="nav-link" (click)="onSelect('dealsinfo')" [ngClass]="{'active': step === 'dealsinfo'}">Deals Information</a></li>
          <!-- <li class="nav-item"><a href="#" class="nav-link" (click)="onSelect('recipe')">Commission Calculator</a></li> -->
          <li class="nav-item"><a href="#" class="nav-link" (click)="onSelect('goals')" [ngClass]="{'active': step === 'goals'}">Goals</a></li>
      </ul>
      <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
      </div>
  </nav>
</header>
