<div class="container">
  <div class="flex-child">
    <table>
      <tr>
        <td><h3>Name</h3> </td>
        <td><h3>System Size</h3></td>
        <td><h3>Lead Source</h3></td>
      </tr>
      <tr>
        <td>Name 2</td>
        <td>kW 2</td>
        <td>Lead Source 2</td>
      </tr>
      <tr>
        <td>Name 1</td>
        <td>kW 1</td>
        <td>Lead Source 1</td>
      </tr>
      <!-- <tr>
        <td>{{ customer.name }}</td>
        <td>{{ customer.systemsize }}</td>
        <td>{{ customer.leadsource }}</td>
      </tr> -->
    </table>
  </div>
</div>
