<div class="container">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form class="main-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <h1>Deals</h1>
      <table>
        <tr>
          <td>Please enter data for this date:</td>
          <td><input id="today" type="date"> </td>
        </tr>
        <tr>
          <td>Customer Name: </td>
          <td><input type="text" id="optional-input" placeholder="Customer Name"></td>
        </tr>
        <tr>
          <td>kW:</td>
          <td><input type="number" id="optional-input" placeholder="Kilowatts"></td>
        </tr>
        <tr>
          <td>Cost to Customer: </td>
          <td><input type="number" id="optional-input" placeholder="Cost"></td>
        </tr>
        <tr>
          <td>Cash or Finance: </td>
          <td>
            <label class="switch">
              <input class="switch-input" type="checkbox" />
              <span class="switch-label" data-on="Cash" data-off="Finance" ></span>
              <span class="switch-handle"></span>
          </label>
          </td>
        </tr>
        <tr>
          <td>Energy Efficiency: </td>
          <td><label class="switch">
                <input class="switch-input" type="checkbox" />
                <span class="switch-label" data-on="Yes" data-off="No" ></span>
                <span class="switch-handle"></span>
              </label></td>
        </tr>
        <tr>
          <td>Lead Source: </td>
          <td><select class="classic" style="color: black">
                <option>Door Knock</option>
                <option selected>Referral</option>
                <option>Social Media</option>
                <option>Inside</option>
                <option>Self</option>
              </select>
          </td>
        </tr>
        <tr>
          <td>Commission: </td>
          <td><input
                type="number"
                id="optional-input"
                placeholder="Commission"
                style="margin-bottom: 25px;">
          </td>
        </tr>
      </table>
      <a class="submitButton" type="submit" style="color:black">Submit</a>
  </form>
</div>
