
<div class="flex-container">

  <div class="flex-child">
    <div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
      <form class="main-form">
          <h1>Your Goals</h1>
          <table>
            <tr>
              <td>Start Date: </td>
              <td><input id="today" type="date"></td>
            </tr>
            <tr>
              <td>End Date: </td>
              <td><input id="today" type="date"></td>
            </tr>
            <tr>
              <td>Commission Goal: </td>
              <td><input type="number" id="optional-input" placeholder="Commission Goal"></td>
            </tr>
          </table>
      </form>
  </div>

  <div class="flex-child">
      <form class="main-form">
          <h1>What You Need</h1>
          <div class="knocksAnswers">
            <h4>Deals Needed</h4>
            <div id="knocksAnswers">
              Results will be here
            </div>
          </div>

          <div class="knocksHour">
            <h4>Need to Sit With</h4>
            <div id="knocksHour">
              Results will be here
            </div>
          </div>

          <div class="setsAnswers">
            <h4>Doors to Knock All Year</h4>
            <div id="setsAnswers">
              Results will be here
            </div>
          </div>

          <div class="setsHours">
            <h4>Doors Knocked Each Week Day</h4>
            <div id="setsHours">
              Results will be here
            </div>
          </div>

          <div class="setsHours">
            <h4>Daily Pace to Hit Goal</h4>
            <div id="setsHours">
              Results will be here
            </div>
          </div>
      </form>
  </div>

</div>
