<div class="flex-child">
  <form class="main-form">
      <h1>Daily Data</h1>
      <fieldset>
          <legend>Knocks/Answer</legend>
          <!-- <div class="knocksAnswers" id="knocksAnswers"> -->
          <div class="knocksAnswers">
              Result: <span id="knocksPerAnswers"></span>
          </div>
      </fieldset>
      <fieldset>
          <legend>Knocks/Hour</legend>
          <div class="knocksHour">will be displayed here</div>
      </fieldset>
      <fieldset>
          <legend>Sets/Answer</legend>
          <div class="setsAnswers">will be displayed here</div>
      </fieldset>
      <fieldset>
          <legend>Sets/Hour</legend>
          <div class="setsHours">will be displayed here</div>
      </fieldset>
      <fieldset>
          <legend>Total Time</legend>
          <div class="totalHoursTime">will be displayed here</div>
      </fieldset>
  </form>
</div>
