html{
  background-color: rgb(0, 0, 0);
  color: #ffc82c;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Avenir Next, sans-serif;
}

/* Navigation Bar */

/* .logo{
  float: left;
  padding: 5px;
  max-width: 150px;
  max-height: 50px;
} */

/* Other Styling */

header{
  font-family: Raleway, sans-serif;
  overflow: hidden;
  text-align: center;
  margin: auto;
  color: white;
  width: 100%;
}

  header::after{
  content: '';
  display:table;
  clear:both;
}

.main-form {
  max-width:  30rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 30px #ffc82c;
  color: white;
  /* background: url('images/solarPanel.jpeg'); */
}

.main-form h1 {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--gray-lighter);
  font-size: var(--font-size-3);
  text-align: center;
}

input {
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 0.75rem;
  float: right;
}

fieldset{
  text-align: center;
}

/* Button styling */

button{
  margin-right: 5px;
  margin-left: 5px;
  align-items: center;

}

/* Experimenting Buttons */
.submitButton {
box-shadow: 0px 1px 0px 0px #fff6af; /*yellow*/
background:linear-gradient(to bottom, #00b259 5%, #ffc82c 100%); /* green to yellow */
background-color:#00b259; /*green*/
border-radius:6px;
/* border:1px solid #ffc82c; */
display:inline-block;
cursor:pointer;
color:#333333;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:6px 24px;
text-decoration:none;
text-shadow:0px 1px 0px #ffc82c;
}
.submitButton:hover {
background:linear-gradient(to bottom, #ffc82c 5%, #00b259 100%);
background-color:#ffc82c;
}
.submitButton:active, .dataButton:active {
position:relative;
top:1px;
}

.dataButton {
box-shadow: 0px 1px 0px 0px #fff6af;
background:linear-gradient(to bottom, #ffc82c 5%, #00b259 100%);
background-color:#ffc82c;
border-radius:6px;
/* border:1px solid #ffc82c; yellow */
display:inline-block;
cursor:pointer;
color:#333333;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:6px 24px;
text-decoration:none;
text-shadow:0px 1px 0px #ffc82c; /*yellow*/
}
.dataButton:hover {
background:linear-gradient(to bottom, #00b259 5%, #ffc82c 100%); /* green to yellow */
background-color:#00b259; /*green*/
}


/* Mobile Nav Attempt */

li {

  list-style: none;
}

a {
  font-size: 12px;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #00b259;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 20px;
  font-family: Avenir Next, sans-serif;
  font-weight: 400;
  color: #00b259; /* Correct sigora green color */
}

.active{
  color: #ffc82c; /* Correct sigora yellow color */
}

.nav-link:hover{
  color: #ffc82c; /* Correct sigora yellow color */
  text-shadow: 2px 2px 2px #ffc82c;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: rgb(0, 0, 0);
      width: -120%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
      color: white;
      padding: 20px;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  /* // Inside the Media Query. */

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

}

/* Side by Side divs */
.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 20px;
}

.flex-child fieldset legend {
  color: #ffc82c;
}

.knocksAnswers,
.knocksHour,
.setsAnswers,
.setsHours,
.totalHoursTime{
  font-size: 25px;
  background-color: #0092e6;
}
