<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form class="main-form">
  <h3>Daily Data</h3>
    <label for="today">Please enter data for this date:</label>
    <input id="today" type="date">

    <label for="numKnocks">Knocks: </label>
    <input type="text" id="numKnocks" placeholder="Knocks" name="numKnocks" >

    <label for="numAnswers">Answers: </label>
    <input type="text" id="numAnswers" placeholder="Answers">

    <label for="numSets">Sets: </label>
    <input type="text" id="numSets" placeholder="Sets">

    <label for="numHours">Total Time: </label>
    <input type="text" id="numHours" placeholder="Time in Hours">

    <label for="numProps">Props Run: </label>
    <input type="text" id="numProps" placeholder="Props">

    <!-- <button class="submitButton" (click)="onAddValue()" style="color:black">Submit</button> -->
  <!-- <button href="#" class="submitButton" (click)="onAddValue()" style="color:black">Submit</button> -->
  <!-- <a class="submitButton" [routerLink]="['view-data']" style="color:black">Submit</a> -->
  <a class="submitButton" routerLink="/view-data" style="color:black">Submit</a>
</form>
 <!-- <router-outlet></router-outlet> -->
<!-- <form class="main-form">
  <h3>How Well You Did</h3>

    <div class="report"><h4>Knocks/Answer:</h4>
      <div class="knocksAnswers" id="knocksAnswers">{{ knocks }} / {{ answers }}</div>
    </div>

    <div class="report"><h4>Knocks/Hour:</h4>
      <div id="knocksHour">{{ time }}</div>
    </div>

    <div class="report"><h4>Sets/Answer:</h4>
      <div id="setsAnswers">{{ answers }}</div>
    </div>

    <div class="report"><h4>Sets/Hour:</h4>
      <div id="setsHours">{{ sets }}</div>
    </div>

    <div class="report"><h4>Total Time:</h4>
      <div id="totalHoursTime">{{ props }}</div>
    </div>
</form> -->
