<div class="flex-child">
  <form class="main-form">
    <h1>Overall Information</h1>

    <div class="daysKnocking">
      <h4>Days Knocking</h4>
      <div id="daysKnocking">
          Result:
      </div>
    </div>

    <div class="totalKnocks">
      <h4>Total Knocks</h4>
      <div id="totalKnocks">
          Result:
      </div>
    </div>


    <div class="totalAnswers">
      <h4>Total Answers</h4>
      <div id="totalAnswers">
          Result:
      </div>
    </div>


    <div class="totalSets">
      <h4>Total Sets</h4>
      <div id="totalSets">
          Result:
      </div>
    </div>


    <div class="avgKnocksAnswers">
      <h4>Average Knocks/Answer</h4>
      <div id="avgKnocksAnswers">
          Result:
      </div>
    </div>


    <div class="avgKnocksHour">
      <h4>Average Knocks/Hour</h4>
      <div id="avgKnocksHour">
          Result:
      </div>
    </div>


    <div class="avgSetsAnswers">
      <h4>Average Sets/Answer</h4>
      <div id="avgSetsAnswers">
          Result:
      </div>
    </div>


    <div class="avgSetsHours">
      <h4>Average Sets/Hour</h4>
      <div id="avgSetsHours">
          Result:
      </div>
    </div>


    <div class="totalHoursTime">
      <h4>Total Hours Working</h4>
      <div id="totalHoursTime">
          Result:
      </div>
    </div>

  </form>
</div>
