<div class="flex-child">
  <form class="main-form">
      <h1>Overall Information</h1>
      <fieldset>
          <legend>Days Knocking</legend>
          <div class="daysKnocking">will be displayed here</div>
      </fieldset>
      <fieldset>
          <legend>Total Knocks</legend>
          <div class="totalHours">will be displayed here</div>
      </fieldset>
      <fieldset>
          <legend>Total Answers</legend>
          <div class="totalAnswers">will be displayed here</div>
      </fieldset>
      <fieldset>
          <legend>Total Sets</legend>
          <div class="totalSets">will be displayed here</div>
      </fieldset>
      <fieldset>
          <legend>Total Hours Working</legend>
          <div class="totalHoursTime">will be displayed here</div>
      </fieldset>
  </form>
</div>
